<form action="/" method="get">
  <input type="submit" value="Logout">
</form>

You have confirmed the request

<form action='/bookings/review'>
  <input type='submit' value='Return to reviews'>
</form>
