<!DOCTYPE html>
<head>
<meta charset = "UTF-8">
<title>Makers BnB</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<h1>Thank you for your request</h1>

<form action='/spaces'>
  <input type='submit' value='Return to spaces'>
</form>
