<h1>Welcome to Makers BnB!</h1>

<h2>Please sign up or if you are an existing user, log in.</h2>

<h4> Login </h4>
<form action="/" method="post">
  Enter your user name <input type="text" name="username" placeholder="username"></br>
  Enter your password <input type="password" name="password" placeholder="password"></br>
  <input type="submit" value="Login">
</form>

<form action="/signup" method="get">
  <input type="submit" value="SignUp">
</form>

<h3> Sign Up: </h3>
<form action="/" method="post">
 Enter your name</br><input type="text" name="name"></br></br>
 Enter your user name</br><input type="text" name="username"></br></br>
 Enter your email address</br><input type="text" name="email"></br></br>
 Enter your password</br><input type="password" name="password"></br></br>
 <input type="submit" value="Submit">
</form>
</br>

