<h1>Welcome to Makers BnB!</h1>

<h2>Please sign up or if you are an existing user, log in.</h2>

<h4> Login </h4>
<form action="/sessions" method="post">
  Enter your user name <input type="text" name="username" placeholder="username"></br>
  Enter your password <input type="password" name="password" placeholder="password"></br>
  <input type="submit" value="Login">
</form>

<form action="/signup" method="get">
  <input type="submit" value="SignUp">
</form>

