<!DOCTYPE html>
<head>
<meta charset = "UTF-8">
<title>Makers BnB</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<div class="main-form">
 <div class="main-form__title">
   <h1>Welcome to Makers BnB!</h1>
 </div>
 <center>
 <div class="main-form__logo">
   <img src="/images/makersbnb_logo.jpg" height=150px width=150px style="margin-top:-25px; margin-left:-68px;">
 </div>
 </center>
 <div class="main-form__body">
   <form action="/sessions" method="post">
     <input class="main-form__input" type="text" name="username" placeholder="username" />
     <input class="main-form__input" type="password" name="password" placeholder="password" />
     <button class="btn">Login</button>
   </form>
   <form action="/signup" method="get">
     <button class="btn">SignUp</button>
   </form>
 </div>
</div>

<div class="error">
  <% flash.keys.each do |type| %>
    <div data-alert class="flash <%= type %> alert-box radius">
      <%= flash[type] %>
    </div>
  <% end %>
</div>
