<h3> Sign Up: </h3>
<form action="/" method="post">
 Enter your name</br><input type="text" name="name"></br></br>
 Enter your user name</br><input type="text" name="username"></br></br>
 Enter your email address</br><input type="text" name="email"></br></br>
 Enter your password</br><input type="password" name="password"></br></br>
 <input type="submit" value="Submit">
</form>