<h1>Welcome <%= @current_user.username %></h1>


<form action='/spaces/new'>
  <input type='submit' value='add'>
</form>
<br>
<form action='/bookings/review'>
  <input type='submit' value='Review'>
</form>

<ul>
  <% @spaces.each do |space| %>
  <%= space %>
  <li><%= "#{space.name}, #{space.description}, #{space.price}, available from: #{space.available_from}, to: #{space.available_to}"%> 
  <form action='/bookings/new' method ="post">
  Book:<input type='submit' value='book'name='<%space%>'>
</form>
</li>
  <% end %>
</ul>
