<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>

<form action="/" method="get">
  <input type="submit" value="Logout">
</form>

<!DOCTYPE html>
<head>
<meta charset = "UTF-8">
<title>Makers BnB</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<form class="main-form" action="/spaces/new" method="post">
  <div class="main-form__body">
  Name:<input class="main-form__input" type="text" name="name">
  <br>
  Description:<input class="main-form__input"  type="text" name="description">
  <br>
  Price:<input class="main-form__input"  type="text" name="price">
  <br>
  Available from:<input class="main-form__input" type="text" name="available_from" placeholder="DD-MM-YYY">
  <br>
  Available to:<input class="main-form__input" type="text" name="available_to" placeholder="DD-MM-YYYY">
  <br>
  <button class="btn">submit</button>
  </div>
</form>
