<form action="/" method="get">
  <input type="submit" value="Logout">
</form>

<form action="/spaces/new" method="post">
  Name:<input type="text" name="name">
  <br>
  Description:<input type="text" name="description">
  <br>
  Price:<input type="text" name="price">
  <br>
  Available from:<input type="text" name="available_from" placeholder="DD-MM-YYY">
  <br>
  Available to:<input type="text" name="available_to" placeholder="DD-MM-YYYY">
  <br>
  <input type="submit" value="submit">
</form>
